@font-family: "Noto Sans", sans-serif;
@font-size: 24px;

body {
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	font-family: @font-family;
	font-size: @font-size;
}

label {
	display: block;
	margin: 10px 0 0 0;
}

input {
	font-family: @font-family;
	font-size: @font-size;
	width: 100%;
	display: block;
}

button, .button {
	background: #888;
	padding: 5px 10px;
	margin: 10px 0 0 0;
	text-decoration: none;
	display: block;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	width: 100%;
	font-size: @font-size;
	cursor: pointer;
}

.button-group {
	margin: 0;
	padding: 0;
	list-style: none;
}

#chart{
	width: 80%;
}
#history{
	width: 20%;
}