!!!
html
	head
		title Expenses
		link(href="style.css", rel="stylesheet", type="text/css")
		script(type="text/javascript", src="jquery_v1.9.0.min.js")
	body
		h1 Expenses
		p Welcome! Please enter the system using your Google account. We will not track your personal info, definitely!
		a.button(href="/enter/google") Log In With Google Account
